html {
  height: 100%;
}

body {
  margin: 0;
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

.content {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-family: monospace;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-content: center;
}

form img {
  width: 30px;
  height: 30px;
}
form {
  min-width: 300px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-bottom: 10px;
  padding-top: 10px;
  gap: 10px;
}
input {
  width: 100%;
  outline: none;
  border: 0;
  font-size: 18px;
  border-bottom: 1px solid lightgray;
  margin-bottom: 20px;
}
.left {
  min-width: 300px;
  width: 50%;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.left h2 {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 42px;
}
.underline {
  border-bottom: 2px solid #62c0a2;
}

a {
  text-decoration: none;
  color: #62c0a2;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}
a p {
  margin-top: 5px;
}
button {
  width: 100%;
  height: 40px;
  background-color: #62c0a2;
  color: white;
  border: 0;
  border-radius: 5px;
  font-weight: 400;
  font-size: 18px;
  margin-top: 30px;
}
.account {
  width: 100%;
  text-align: center;
  font-size: 16px;
}
.right {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  margin: 0;
}
.right p,
.right h2 {
  margin: 0;
  width: 70%;
}
.right img {
  width: 380px;
  height: 426.73px;
  z-index: -1;
  opacity: 40%;
  position: absolute;
}
a:hover {
  text-decoration: underline;
}
button {
  cursor: pointer;
}
button::after {
  box-shadow: 0 4px 9px #62c0a2;
  transition: all 2s ease-in-out;
  font-weight: 700;
}

button:hover {
  transform: scale(1.02, 1.02);
  font-weight: 700;
}
.text-danger {
  margin-top: -20px;
  font-size: small;
  color: crimson;
}
.text-success {
  font-size: small;
  width: 100%;
  text-align: center;
  color: #62c0a2;
}
